@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.container {
    position: relative;
}

.sidebar-img-container {
    width: 40vw;
    height: 100vh;
    overflow: hidden;
}

.sidebar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.label {
    position: absolute;
    top: 23%;
    left: 0;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.506);
    z-index: 2;
    padding: 10px 0 10px 0;
}

.label>img {
    height: 100px;
    display: block;
}

.label p {
    font-family: 'Norse', Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: -16px;
    color: white;
    font-size: 72px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 40vw;
}

.footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 5px;
}

.footer p a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
}

.form-container {
    color: black;
    background-color: rgb(241, 241, 241);
    padding: 0;
    margin: 0;
}

.top {
    font-weight: 600;
    font-size: 20px;
}

.big {
    margin-top: 25%;
    margin-left: 40px;
    max-width: 500px;
}

.small {
    margin: 20px 0 37px 40px;
}

.middle {
    background-color: white;
    box-shadow: 0px 6px 10px -7px rgba(0, 0, 0, 0.2);
}

.mid-title {
    font-size: 20px;
    padding: 20px 10px 10px 0;
    margin-left: 40px;
}

form {
    padding: 10px 0 35px 40px;
    margin-right: 60px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.form-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    min-width: 0;
    /* border: blue 2px solid; */
}

.form-item input {
    height: 25px;
    width: 100%;
}

label {
    font-size: 10px;
}

button {
    margin: 25px 0 15px 40px;
    padding: 0;
    border: none;
    color: white;
    background-color: #596D48;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 35px 10px 35px;
    border-radius: 6px;
    font-weight: 550;
    font-size: 14px;
    box-shadow: 0px 3px 10px -7px rgba(0, 0, 0, 0.89);
}

.account {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0 0 40px;
}

.login {
    color: #596D48;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
}