@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Norse', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.506);
}

.label img {
    height: 100px;
    display: block;
}

.label p {
    margin: 0;
    padding: 0;
    margin-bottom: -16px;
    color: white;
    font-size: 72px;
}